.headDiv{
  background-image: "https://pixabay.com/photos/notepad-glasses-travel-planning-1130743/";
  color: whitesmoke;
  font-family: monospace, 'Courier New', Courier;
  font-size: large;
}
.postDiv{
  color: black;
  font-family: monospace, 'Courier New', Courier;
  background-color: aliceblue;
}
h1{
  color: rgb(2, 6, 26);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
